/*Reset all elements*/

/*@import "reset.css";*/
*{
    margin: 0;
    padding: 0;
}
.site-title {
    color: #eaeef2;
}

.blog-head {
    margin-bottom: 5px;
    background-color: #428bca;
    -webkit-box-shadow: inset 0 -.1rem .25rem rgba(0, 0, 0, .1);
    box-shadow: inset 0 -.1rem .25rem rgba(0, 0, 0, .1);
}

nav a:hover {
    color: black;
}

nav a {
    color: #cdddeb;
}

.main {
    margin-top: 70px;
}

.post-block {
    height: 180px;
    margin-bottom: 15px;
}


/*.post-tag-text{
  margin-left: -7%;
}*/

.post-short-text {
    margin-top: 5px;
}

.pagination-block {
    margin-left: 30%;
}

.post-lists {
    border-right-style: inset;
}

.search-bar {
    margin-bottom: 20px;
}

.sidebar-post-img {
    margin-right: 5px;
    margin-left: -10px;
}

.single-post-img {
    margin-bottom: 5px;
}

.single-post-tag-text {
    margin-left: -15px;
}

.single-post-text {
    margin-top: 5px;
}

.author-history {
    margin-top: 20px;
    line-height: .1;
}
.similar-post {
    margin-left: -28px;
}

/*product post margin
---------------------------------------------------*/
.product-post{
  margin-left: 3px;
}
.add-to-cart-wish{
  display: none;
}
.card:hover .add-to-cart-wish{
  display: inline-block;
}

/*top sellign product post margin
---------------------------------------------------*/
.top-selling-product:not:first-child,.top-rated-product:not:first-child{
  margin-left: -10px;
}
.top-selling,.top-rated{
  border-top-style: ridge;
}
.product-caption-rating{
  margin: 5px;
}
.top-rated-product,.top-selling-product{
  padding: 0;
}
/*For using rating
---------------------------------------------------*/
.star-rating{
	font-size: 0;
}
.star-rating__wrap{
	display: inline-block;
	font-size: 0.8rem;
}
.star-rating__wrap:after{
	content: "";
	display: table;
	clear: both;
}
.star-rating__ico{
	float: right;
	padding-left: 2px;
	cursor: pointer;
	color: #FFB300;
}
.star-rating__ico:last-child{
	padding-left: 0;
}
.star-rating__input{
	display: none;
}
.star-rating__ico:hover:before,
.star-rating__ico:hover ~ .star-rating__ico:before,
.star-rating__input:checked ~ .star-rating__ico:before
{
	content: "\f005";
}
.li-img{
  width: 20%;
}
.li-item{
  display: inline;
}
.m-5{
  margin: 5px;
}











/* Sticky footer styles
-------------------------------------------------- */
.footer {
 margin-top: 60px;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}
